.footer {
    background-color: #333; 
    color: #fff; 
    padding: 10px 0; 
    position: absolute;
    bottom: 0; 
    width: 100%; 
}

.footer a {
    color: #fff; 
    text-decoration: none;
    margin-right: 20px; 
    font-size: 24px; 
    display: inline-block; 
}

.footer a:hover {
    color: #007BFF; 
}

.footer i {
    margin-right: 10px; 
    font-size: 24px; 
}

.footer .text-md-end {
    font-size: 14px; 
}
